
/* star global */

.container{
    width: 1170px;
    margin:auto;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
*{box-sizing: border-box;}
/* end global */

/* star navbar */
.navbar{
    height: 0;
    color:#fff;
    position: relative;
    z-index: 2;
}

.navbar .brand{
    width:50%; 
    float:left;
    text-transform: uppercase;
    font-size: 18px;
    margin-top:10px;
}

.navbar ul.links{
    width:50%;
    float:left;
    margin:25px 0;
    font-weight: bold;
}
.navbar .links li{
    display: inline-block;
    margin-right:20px;
    cursor: pointer;
}
.navbar .links li a{
    display: inline-block;
     color:#Fff;
     text-decoration:none;
     font-size: 18px;
     padding:5px 0;
     border-bottom:2px solid transparent;
     cursor: pointer;
}

.navbar .links li.active a,
.navbar .links li a:hover{color:#1abc9c;border-bottom:2px solid #1abc9c}

/* star navbar */

/* star header */
.header{
    background: url('../images/header.jpg') no-repeat 50% 75%;
    background-size: cover;
    position: relative;
}
.header .overlay{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    z-index: 1;
}
.header .bx-wrapper{
    height: 100%;
    box-shadow: none;
    border:none;
    background:none;
    color:#fff
}
.header .bx-wrapper .bx-viewport{
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   text-align: center;
}
.header .bx-wrapper li h2{font-size:50px; margin:5px 0}
.header .bx-wrapper li h2 span{color: #1abc9c}
.header .bx-wrapper li p{font-size: 26px; margin:0}
/* end header */

/* star our serve */
.ourserv{margin: 80px 0 80px;}

.ourserv .serv-box{
    overflow: hidden;
}
.ourserv .serv-box .box{
    width:33.333%;
    float:left;
    overflow: hidden;
    margin-bottom: 20px;
}
.ourserv .serv-box .box i{
    color:#1abc9c;
    padding-top:25px;
    text-align: center;
    float:left;
    width:25%;
    margin-left:5%;
}
.ourserv .serv-box .box .cont{
    float:left;
    width:65%;
    padding-left:5%;
}
.ourserv .serv-box .box .cont h3{color:#333}
.ourserv .serv-box .box .cont p{
    color: #888;
    line-height: 1.6;
    font-size: 14px;
}

.our-team{
    margin:80px 0 80px;
    overflow: hidden;
}
.our-team p{
    color: #888;
    line-height: 1.6;
}

.our-team .box:first-child{
    float:left;
    width:30%;
    margin-right: 3%;
}
.our-team .box:last-child{
    float:left;
    width:67%;
    height: 160px;

}
.our-team .box:last-child .box-img{
    float:left;
    width:calc(25% - 10px);
    height: 100%;
    margin-right: 13.333333px;
    overflow: hidden;
    position:relative;
    transition: .7s ease-in-out;
}
/* .our-team .box:last-child .box-img::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
} */
.our-team .box:last-child .box-img span{
    display: block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color:rgba(26, 188, 156, .7);
    opacity:0 ;
    z-index: 2;
    color:#fff;
    text-align: center;
    line-height: 160px;
    font-size: 24px;
    transition: .3s ease-in-out;
}

/* .our-team .box:last-child .box-img::before{    /* if not have text
	display: block;
	content: '';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color:rgba(26, 188, 156, .7);
    opacity:0 ;
    z-index: 2;
    color:#fff;
} */

.our-team .box:last-child .box-img:nth-child(4){margin-right: 0px;overflow: hidden;}

.our-team .box:last-child .box-img img{
    width:100%;
    height: 100%;
    transition: .3s ease-in-out;
    /* transform: rotate(0) scale(1); */
}

.our-team .box:last-child .box-img:hover span{opacity: 1;}

.our-team .box:last-child .box-img:hover img{
    transform: rotate(15deg) scale(1.4);
}

.our-team .box:last-child .box-img:hover::before{animation: shine .7s;}

/* end our serve */

/* star testimonials */
.testim{
    background: url("../images/client.jpg") no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
  
}
.testim .overlay{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    color:#fff;
    padding:35px 0 40px;
}
.testim h2{font-size: 32px; margin-bottom: 50px;}
.testim q{font: italic 16px/2 arial;}
.testim p{color:#1abc9c;font-size: 22px; margin-top: 35px;}

.testim .slid > div{display: none;}
.testim .slid .active{display: block;}

/* end testimonials */



/* star Portofolio */
.portfolio{height: 800px; margin-top: 70px;}
.portfolio .project ul{margin:44px 0;}
.portfolio .project ul li{
    display:inline-block;
    padding:10px 20px;
    color:#aaa;
    border:2px solid #aaa;
    margin-right:5px;
    border-radius:5px;
    cursor: pointer;
}
.portfolio .project ul li.select{
    border:2px solid #1abc9c;
    background: #1abc9c;
    color:#fff;
}
.portfolio .project .boxes{overflow: hidden;}
.portfolio .project .boxes > div{
    display: none;
    float:left;
    width:31.6666666%;
    height: 250px;
    margin-bottom: 15px;
    position: relative;
    margin-right: 1.65%;
}
.portfolio .project .boxes > div img{
    width:100%;
    height: 100%;
}
.portfolio .project .boxes .alt{
    opacity: 0;
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(26, 188, 156, .7);
    z-index: 2;
    transition: all 0.4s;
}
.portfolio .project .boxes .alt span{
    display: inline-block;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
}
.portfolio .project .boxes .alt i{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color:#fff;
    font-size: 20px;
}
.portfolio .project .boxes > div:hover .alt{opacity: 1;}
@keyframes dd{}
/* end Portofolio */

/* star footer */
.footer{
    background-color:#232323 ;
    padding:50px 0;
    overflow: hidden;
    color:#ccc;
}
.footer .col{
    width:25%;
    float:left;
    /* padding-left: 20px; */
}
.footer .col h2{margin-bottom: 30px; color:#fff; font-weight: normal;}
.footer .col:first-child p{font-size: 14px; line-height: 1.5; margin:0 20px 30px 0; }
.footer .col:first-child i{
    color:#ddd;
    display: inline-block;
    width: 35px;
    text-align: center;
    padding:7px;
    border:1px solid #ddd;
    margin-right: 10px;
    font-size: 19px;
    cursor: pointer;
}
.footer .col:first-child i:hover{background:#eee;color:#232323}
.footer .col .tags span{
    display: inline-block;
    border:1px solid #ddd;
    padding:7px 13px;
    margin: 5px;
    cursor: pointer;
}
.footer .col .tags span:hover{background: #eee; color:#232323}

.footer .col .qs{overflow: hidden; margin-bottom: 10px;}
.footer .col .qs img{width:27%; margin-right:3%; height: 100%; border-radius: 2px;}
.footer .col .qs > div{float:right; width:70%; padding-left:5px}

.footer .col .qs > div a{
    color:#ddd;
    text-decoration: none; 
    display: block;
    margin:5px 0 7px;
}
.footer .col .qs > div span{color:#777; }

.footer .col:nth-child(4){
    padding-left: 35px
}
.footer .col ul li{
    display: block;
    font-size: 16px;
    padding: 0 5px 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #777;
}
/* end footer */




/* star my Framwork */

.clearFix{clear:both}

.special-h{position:relative; margin:0 0 25px}
.special-h::after{
    content:'';
    position:absolute;
    width: 40px;
    top: 30px;
    left: 0;
    border-bottom: 2px solid #000;
    text-align: center;
}

hr{border:2px solid #eee;border-radius: 10px; margin:20px 5px;}

/* end my Framwork */
